$primary: #1f2c6c
$secondary: #3c4172

$font-family: -apple-system, BlinkMacSystemFont
$font-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace
$hero-overlay: linear-gradient(rgba(31, 44, 108, 0.65), rgba(31, 44, 108, 0.65))
