$primary: #3d1255

$navigation-height: 60px
$navigation-bg: #fafafa
$navigation-fg: $primary
$font-family: -apple-system, BlinkMacSystemFont
$hero-height: 300px
$overlay-color: transparentize(black, .7)
$hero-overlay: linear-gradient($overlay-color, $overlay-color)
$container-width: 800px