.hero
    background-color: $primary
    background-image: $hero-overlay, url(../images/outer-space.jpg)
    color: #fff
    height: $hero-height
    margin: 0
    display: flex
    flex-direction: column
    justify-content: center
    font-size: 1.5em
