@import variables
@import hero
@import footer
@import blog
@import category
@import bulma
@import main-content

html
    font-size: 100%

body
    background-color: #ffffff
    font-family: $font-family
    margin: 0
    padding: 0

.layout // header, main, footer
    min-height: 100vh
    display: flex
    flex-direction: column

.push-right
    margin-left: auto

code
    background-color: #eee
    display: inline-block
    padding: 0 0.2em
    font-family: $font-code
    color: $primary

h1, h2, h3
    margin: .2em 0 0
