
.navigation
    height: $navigation-height
    line-height: $navigation-height
    display: flex
    background-color: $navigation-bg
    align-items: center
    color: $navigation-fg

.navigation__item, .navigation__logo
    text-decoration: none
    padding: 0 1em
    height: $navigation-height
    line-height: $navigation-height
    color: inherit